<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>254382607521-hhhc3018mhtlqmoqp1unrh14ujd1dco6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254382607521-hhhc3018mhtlqmoqp1unrh14ujd1dco6</string>
	<key>API_KEY</key>
	<string>AIzaSyAmFCjKPQQQWl3KtqAPXzSgRih52S9VjiA</string>
	<key>GCM_SENDER_ID</key>
	<string>254382607521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Brwong.Foodwise</string>
	<key>PROJECT_ID</key>
	<string>foodwise-6492</string>
	<key>STORAGE_BUCKET</key>
	<string>foodwise-6492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:254382607521:ios:22fd0caa23a84a38</string>
	<key>DATABASE_URL</key>
	<string>https://foodwise-6492.firebaseio.com</string>
</dict>
</plist>